<% provide(:title, 'edit_base_info') %>
<% provide(:class_text, 'edit_base_info') %>
<% provide(:button_text, '更新') %>

<div class="container">
  <h1 class="title_h1">拠点情報の更新</h1>
  <div class="row">
    <div class="center">
      <div class="col-md-6 col-md-offset-3">
        <%= render 'base_form' %>
      </div>
    </div>
  </div>
</div>